@{
    ViewData["Title"] = "Home Page";
    @using Microsoft.AspNetCore.Http
}

    <div class="text-center">
        <h1 class="display-4">Welcome to MiBank!</h1>

            <p>Helping Uni Students since 2020</p>
            <p>Here to help you grow and succeed in life</p>        
    </div>
