
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>Error 500!</h1>
    <h3>It seems that something has gone wrong!</h3>
    </br>
    <h4>@Html.ActionLink("Return to Home Page", "Index", "Home")</h4>
</body>
</html>
