
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
    <body>
        <h1>An unexpected error has occurred!</h1>
        <h4>@Html.ActionLink("Return to Home Page", "Index", "Home")</h4>
    </body>
</html>
